// きりたん丼共通

/* ファボを肉球に */
.fa-star:before {
  font-size:large ;
  content: "\f1b0" ;
}

.notification__favourite-icon-wrapper .star-icon, .star-icon.active {
    color: #ed4d1c;
}

.icon-button-kiri {
    color: #ffffff;
    background: #2b90d9;
    width: 36px !important;
}

.floating-toot-area {
  position: sticky;
  display: flex;
  width: 99%;
  bottom: 1.25rem;
  align-items: center;
}

.floating-action-button {
  width: 3rem;
  height: 3rem;
  bottom: 5.25rem;
  right: auto;
}

.floating-toot-area > .toot__input {
  flex: auto;
  min-height: 2.625rem;
  font-size: 1.1rem;
  white-space: pre-wrap;
  margin: 2px;
  box-sizing: border-box;
  outline: 0;
  font-family: inherit;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 4px;
}

.floating-toot-area > .icon-button-kiri {
  flex: none;
  width: 2.625rem;
  height: 2.625rem;

  border-radius: 25%;
}

.drawer__inner__mastodon > img {
    object-position: bottom center;
}

/* box header */
.column, .drawer {
  flex: 1 1 auto;
  min-width: 280px;
  max-width: 600px;
}

@media screen and (min-width: 631px){
  .column, .drawer {
      padding: 5px 5px;
  }
}

.compose-form__publish-button-wrapper {
    padding-left: 5px;
}

.drawer__header {
  border-top-left-radius: 10px 10px ;
  }

.column-header {
  border-top-left-radius: 10px 10px ;
}

.drawer__inner {
  border-bottom-right-radius: 20px 20px ; 
}

/* box scroll */
.column > .scrollable {
  border-bottom-right-radius: 20px 20px ;
}

/* toot option icon */
.compose-form__buttons {
  border-radius: 10px ; 
}

.compose-form__publish-button-wrapper > .button {
  border-radius: 10px ;
}

/* textarea */
.spoiler-input__input {
  border-radius: 20px ;
}

.autosuggest-textarea__textarea {
  border-radius: 20px ; }

/* cassette */
.status {
    padding: 2px 2px;
    padding-left: 68px;
}

.status__action-bar {
    margin-top: 0px;
}

/* reply */
.reply-indicator {
  border-radius: 4px ;
  margin-bottom: 15px ; }


.getting-started{
  border-bottom-right-radius: 20px 20px ;
}

.table td, .table th {
  white-space: pre-wrap;
}

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity:0;}
  100% {opacity: 1;}
 }
 
 .status__action-bar-button.icon-button.active .fa.fa-fw.fa-star{
     animation: blink 0.9s ease infinite;       
 }

/*非公開色分け*/
.status-private {
    background: rgba(180,55,132,0.2) ;
}
.status .fa-lock::before {
 color: #d0d662;
}

/*未収載色分け*/
.status-unlisted {
    background: rgba(36,190,56,0.2);
}

/*ダイレクト*/
.status.status-direct {
    background: rgba(20,60,255,0.2);
}

.status.status-direct:not(.read) {
  background: rgba(20,60,255,0.4);
}

.focusable:focus .status.status-direct {
  background: none;
}

.status-private  .icon-button.disabled,.status.status-direct .icon-button.disabled {
    color: #FFFFFF;    
    animation: blink 1.2s ease infinite;
}

.emoji-mart-scroll {
  height: 500px !important;
  max-height: 90vh !important;
}

/* ユーザ絵文字拡大  */
.emojione{
  width: auto !important; 
  max-width: 3em !important; 
  height: 2em  !important;
  margin: -3px 0 0  !important;
  vertical-align: middle  !important;
  object-fit: contain  !important;
}

.emoji-button .emojione{
  width: 22px !important;
  height: 22px  !important;
}

.avatar-emoji{
text-decoration: none ;
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberband{
  display: inline-block;
  -webkit-animation: rubberBand 1.1s ease infinite;
  animation: rubberBand 1.1s ease infinite;
}

@keyframes spin {
0% {
 -webkit-transform: rotate3d(0,0,1,0deg);
 transform: rotate3d(0,0,1,0deg);
}
33% {
 -webkit-transform: rotate3d(0,0,1,120deg);
 transform: rotate3d(0,0,1,120deg);
  }
66% {
 -webkit-transform: rotate3d(0,0,1,240deg);
 transform: rotate3d(0,0,1,240deg);
  }
   100% {
 -webkit-transform: rotate3d(0,0,1,360deg);
 transform: rotate3d(0,0,1,360deg);
  }
}

@-webkit-keyframes spin {
0% {
 -webkit-transform: rotate3d(0,0,1,0deg);
   transform: rotate3d(0,0,1,0deg);
  }
33% {
 -webkit-transform: rotate3d(0,0,1,120deg);
 transform: rotate3d(0,0,1,120deg);
  }
66% {
 -webkit-transform: rotate3d(0,0,1,240deg);
 transform: rotate3d(0,0,1,240deg);
  }
100% {
 -webkit-transform: rotate3d(0,0,1,360deg);
   transform: rotate3d(0,0,1,360deg);
  }
}

.spin{
  display: inline-block;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 6s linear infinite;
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  70% {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  70% {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
  }
}


.jump{
display: inline-block;
-webkit-animation: bounce 1.1s ease infinite;
animation: bounce 1.1s ease infinite;
}

.flip{
  display: inline-block;
  -ms-filter: "FlipH";  
  -moz-transform: scaleX(-1);  
  -o-transform: scaleX(-1);  
  -webkit-transform: scaleX(-1);  
  transform: scaleX(-1);  
  filter: FlipH;  
}

.flip-v{
  display: inline-block;
  -ms-filter: "FlipV";  
  -moz-transform: scaleY(-1);  
  -o-transform: scaleY(-1);  
  -webkit-transform: scaleY(-1);  
  transform: scaleY(-1);  
  filter: FlipV;  
}
