/* きりたん丼カラー */
/* 背景を画像に */
body::before{
  content:"";
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  height:100vh;
  width: 100%;
  background: url('./images/bg_kiritan.png') 98% bottom no-repeat $ui-base-color;
  background-size: auto 40%;
}

// 設定画面
.admin-wrapper {
  background: $ui-base-color;
}

// フローティングトゥートエリア
.floating-toot-area > .toot__input {
  background: rgba($ui-base-color, .5);
  backdrop-filter: blur(2px);
  color :$primary-text-color;
  border: 2px solid rgba($primary-text-color, .5);
}

// 入力フォーム系
.compose-form {
  .autosuggest-textarea__textarea,
  .spoiler-input__input,
  .autosuggest-textarea__suggestions,
  .compose-form__buttons-wrapper,
  .compose-form__modifiers
  {
    color: $ui-secondary-color;
    background: $ui-base-color;
  }
}

.compose-form .autosuggest-textarea__suggestions__item:hover, 
.compose-form .autosuggest-textarea__suggestions__item:focus, 
.compose-form .autosuggest-textarea__suggestions__item:active, 
.compose-form .autosuggest-textarea__suggestions__item.selected
{
  background: lighten($ui-base-color, 30%);
}

// その他色合わせ
.emoji-picker-dropdown__menu,
.emoji-mart, .emoji-mart *,
.emoji-mart-category-label span,
.emoji-mart-search input,
.dropdown-menu, .dropdown-menu__item a,
.getting-started__trends
 {
  color: $ui-secondary-color;
  background: $ui-base-color;
 }
